.aptitudes {
    &>div {
        &:first-child {
            background-image: linear-gradient(0deg, #f6f8f9 3%, #fff);
        }
        &:nth-child(2n+1) {
            background-color: #f6f8f9;
        }
    }
    &__title {
        font-weight: 300;
        color: #161d28;
        font-size: 35px;
        @media screen and (min-width: 768px) and (max-width: 1024px) {
            font-size: 40px;
        }
        @media screen and (min-width: 1024px) {
            font-size: 45px;
        }
    }
    &__subtitle {
        font-size: 1rem;
        line-height: 1.636;
        max-width: 800px;
        font-family: sans-serif;
        -webkit-font-smoothing: antialiased;
        color: #646f79;
        margin: 0 auto;
        margin-bottom: 5rem;
        @media screen and (min-width: 768px) and (max-width: 1024px) {
            font-size: 1.2rem;
        }
        @media screen and (min-width: 1024px) {
            font-size: 1.375rem;
        }
    }
    &-section {
        width: 90%;
        justify-content: center;
        margin: 0 auto;
        text-align: justify;
        text-align: center;
        @media screen and (min-width: 900px) {
            max-width: 1200px;
        }
        &__card::before {
            border-radius: 3px 3px 0 0;
            content: "";
            display: block;
            height: 6px;
        }
        & div:first-child::before {
            background: linear-gradient(90deg, #3be8b0 0, #02ceff);
        }
        & div:nth-child(2)::before {
            background: linear-gradient(90deg, #02ceff 0, #a177ff);
        }
        & div:nth-child(3)::before {
            background: linear-gradient(90deg, #a177ff 0, #fc636b);
        }
    }
    &__summary {
        padding: 2rem 0 10rem 0;
        & h2 {
            font-weight: 300;
            color: #161d28;
            font-size: 35px;
            @media screen and (min-width: 768px) and (max-width: 1024px) {
                font-size: 40px;
            }
            @media screen and (min-width: 1024px) {
                font-size: 45px;
            }
        }
        &>div {
            width: 90%;
            margin: 0 auto;
        }
    }
    &__front {
        margin: 15rem 0 13rem 0;
        &__basics {
            justify-content: center;
            margin-bottom: 6rem;
            & img {
                width: 85px;
            }
        }
        &__libraries {
            &>div {
                margin: 4rem 0 7rem 0;
                justify-content: center;
            }
            & img {
                width: 85px;
                @media screen and (min-width: 768px) {
                    font-size: 95px;
                }
            }
        }
        &__styling {
            &>div {
                margin: 4rem 0 7rem 0;
                justify-content: center;
            }
            & img {
                width: 85px;
                @media screen and (min-width: 768px) {
                    font-size: 99px;
                }
            }
        }
        &__bundling {
            &>div {
                margin: 4rem 0 7rem 0;
                justify-content: center;
            }
            & img {
                width: 85px;
                @media screen and (min-width: 768px) {
                    font-size: 95px;
                }
            }
        }
    }
    &__separator {
        background-image: url(./../../images/mix2.png);
        padding: 15rem 0 15rem 0;
        &-two {
            background-image: url(./../../images/cloud2.jpg);
            padding: 15rem 0 15rem 0;
            @media (min-width: 1025px) {
                background-size: 100%;
            }
        }
    }
    &__back {
        padding: 12rem 0 9rem 0;
        &__basics {
            justify-content: center;
            margin-bottom: 6rem;
            & img {
                width: 120px;
                @media screen and (min-width: 768px) {
                    width: 150px;
                }
            }
        }
        &__libraries {
            justify-content: center;
            &>div {
                margin: 4rem 0 7rem 0;
                justify-content: center;
            }
            & img {
                width: 130px;
                @media screen and (min-width: 768px) {
                    width: 150px;
                }
            }
        }
        &__databases {
            justify-content: center;
            &>div {
                margin: 4rem 0 7rem 0;
                justify-content: center;
            }
            & img {
                width: 100px;
                @media screen and (min-width: 768px) {
                    width: 150px;
                }
            }
        }
    }
    &__devops {
        padding: 15rem 0 8rem 0;
        &__basics {
            justify-content: center;
            margin-bottom: 6rem;
            & img {
                width: 120px;
                @media screen and (min-width: 768px) and (max-width: 1024px) {
                    font-size: 130px;
                }
                @media screen and (min-width: 1024px) {
                    font-size: 150px;
                }
            }
        }
        &__cloud {
            margin-bottom: 6rem;
            &>div {
                margin: 4rem 0 4rem 0;
                justify-content: center;
            }
            & img {
                width: 120px;
                @media screen and (min-width: 768px) and (max-width: 1024px) {
                    font-size: 130px;
                }
                @media screen and (min-width: 1024px) {
                    font-size: 150px;
                }
            }
        }
    }
}

.mdl-cell {
    //margin: 4% !important;
    align-self: center;
}