.portfolio_body {
    //background-image: url(./../../images/arq4.png);
    height: -webkit-fill-available;
    font-family: fantasy;
    font-size: 16px;
    position: absolute;
    width: 100%;

    @media (min-width: 1025px) { 
        position: relative; 
        padding-top:220px;
    } 

    >div {
        text-align: center;
        margin: 4em 0 1em 0;
    }

    &-container{
        width: 100%;
    }
}