.portfolio_header {
    position: absolute;
    color: black;

    @media (min-width: 1025px) { 
        //background-image: unset;
    } 

    & a {
        color: black
    }
    & .mdl-layout__header-row {
        height: auto;
    }
    & .portfolio_nav_container {
        position: absolute;
        width: 100%;
        //background-color: rgba(0, 0, 0, 0.08);
        & nav {
            //max-width: 1000px;
            //margin: 0 auto;
            float: right;
            & a {
                font-size: 13px;
                padding: 0 20px 0 20px;
            }
        }
    }
}

.mdl-layout__drawer.is-visible {
    position: absolute;
}

.mdl-layout__header{
    //background-color: transparent;
    background-color: white;
   // background-color: rgba(63, 81, 181, 0.22);
}
