.portfolio_header {
    background-image: url(./../../images/bg4.jpg);
    background-color: rgba(0, 0, 0, 0.34); // padding-top: 25px;
    color: black;
    & a {
        color: black
    }
    & .mdl-layout__header-row {
        height: auto;
    }
    & .portfolio_nav_container {
        background-color: rgba(0, 0, 0, 0.08);
        & nav {
            max-width: 1000px;
            margin: 0 auto;
        }
    }
}