.portfolio_header {
    background-image: url(./../../images/imagen5.jpg);
    position: absolute;
    color: black;

    @media (min-width: 1025px) { 
        background-image: unset;
    } 

    & a {
        color: black
    }
    & .mdl-layout__header-row {
        height: auto;
    }
    & .portfolio_nav_container {
        //background-color: rgba(0, 0, 0, 0.08);
        & nav {
            max-width: 1000px;
            margin: 0 auto;
        }
    }
}

.mdl-layout__drawer.is-visible {
    position: absolute;
}

.mdl-layout__header{
    background-color: transparent;
   // background-color: rgba(63, 81, 181, 0.22);
}
