.description {
    &>div {
        padding: 4rem 0 4rem 0;
        &:nth-child(2n) {
            background-color: rgb(233, 239, 241);
        }
    }
    &-section {
        width: 90%;
        margin: 0 auto;
        text-align: justify;
        @media screen and (min-width: 900px) {
            max-width: 1024px;
        }
    }
}