.description {
    &>div {
        &:first-child {
            background-image: linear-gradient(0deg, #f6f8f9 3%, #fff);
        }
        &:nth-child(2n+1) {
            background-color: #f6f8f9;
        }
    }
    &-section {
        width: 90%;
        margin: 0 auto;
        text-align: justify;
        text-align: center;
        @media screen and (min-width: 900px) {
            max-width: 1024px;
        }
        & h1 {
            font-family: sans-serif;
            font-weight: 300;
            color: #161d28;
            -webkit-font-smoothing: antialiased;
        }
        & h3 {
            font-size: 2.8125rem;
            line-height: 1.244;
            color: #161d28;
            font-family: sans-serif;
            -webkit-font-smoothing: antialiased;
        }
        & p {
            font-size: 1.375rem;
            line-height: 1.636;
            max-width: 800px;
            font-family: sans-serif;
            -webkit-font-smoothing: antialiased;
            color: #646f79;
            margin: auto;
        }
    }
    &__challenges {
        padding: 4rem 0 10rem 0;
    }
    &__team {
        padding: 10rem 0 10rem 0;
        &__list {
            margin: 50px 0 20px 0;
            & p {
                font-size: 1.375rem;
                color: #222a36;
            }
            & img {
                width: 55px;
            }
        }
    }
    &__studies {
        padding: 10rem 0 10rem 0;
        background-image: url(./../../images/books.png);
        background-size: 100%;
    }
}