html,
body {
    font-family: sans-serif !important;
    font-size: 18px !important;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.logo_container {
    display: flex;
    position: absolute;
    height: 100%;
    width: 100%;
}

.logo {
    margin: 0 auto;
    align-self: center;
    animation: App-logo-spin infinite 1s ease-out;
    width: 5%
}

.card {
    width: 100%;
    margin-bottom: 1.5em;
    & .mdl-card__title {
        justify-content: center
    }
    & img {
        width: 35%
    }
    & .mdl-card__supporting-text {
        padding: 0px 16px 16px 16px;
        & p {
            margin: 8px 0 7px;
            text-transform: uppercase;
            font-weight: bolder; // & :first-child{
        }
    }
    & .mdl-card__actions {
        display: flex;
        align-items: center;
    }
}

.demo-card-event>.mdl-card__actions {
    display: flex;
    box-sizing: border-box;
    align-items: center;
}

.mdl-card {
    min-height: auto
}
