
  .App-logo {
   
    //height: 80px;
  }
 
  @keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }

  .logo_container {
    display: flex;
    position: absolute;
    height: 100%;
    width: 100%;

  }

  .logo {
    margin: 0 auto;
    align-self: center;
    animation: App-logo-spin infinite 1s ease-out;
    width: 5%
  }



.portfolio_header{
  background-image: url(images/bg2.jpg);
  // padding-top: 25px;
  color: black;

  & a{
    color: black
  }

  & .mdl-layout__header-row{
    height: auto;

    
    

    
  }

  & .portfolio_nav_container {
    background-color: rgba(0, 0, 0, 0.08);

    & nav{
      max-width: 1000px;
      margin: 0 auto;
    }

   

  }
}


.portolio_logo_container{
 // margin: 0 auto;
  //width: 12em;
  padding-top: 25px;
 

  & a{
    margin: 0 10px 0 10px;
  }
  //display:none
}

.portfolio_logo{
  background: url(images/me.jpg) 50% no-repeat;
  background-size: cover;
  height: 120px;
  width: 120px;
  margin: auto auto 10px;
  border-radius: 30%;
  box-shadow: 0px 1px 10px 0px black;
}

.portfolio_logo_twitter{
  background: url(images/twitter.png) 50% no-repeat;
  background-size: cover;
  height: 30px;
  width: 30px;
  margin: auto auto 10px;
}
.portfolio_logo_github{
  background: url(images/gh.png) 50% no-repeat;
  background-size: cover;
  height: 30px;
  width: 30px;
  margin: auto auto 10px;
}

.portfolio_logo_linkedin{
  background: url(images/in.png) 50% no-repeat;
  background-size: cover;
  height: 30px;
  width: 30px;
  margin: auto auto 10px;
}

.mdl-navigation {
  //display: none;
  & a {
    text-align: center
  }
  & a:hover{
    background-color: rgba(0, 0, 0, 0.23)
  }

  & .active{
    font-weight: bold;
    text-transform: uppercase;
  }

  & .mdl-navigation__link.active{
    font-weight: bold;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.09)
  }

  & .mdl-layout__tab.active:after{
    content: "";
    width: 80%;
    height: 2px;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgb(255,64,129);
    left: 10%;
  }
  
}



.portfol¡o_social_container{
  display: flex
}

.portfolio_body_container{
  text-align: center;
  margin: 4em 0 1em 0;
}

@media screen and (min-width:900px) {

  // #logoContainer{
  //   display: block;
  // }

  // .mdl-navigation {
  //   display: flex
  //}

  .page-content{
    max-width: 1024px;
  }
}

.page-content{
  width: 90%;
  margin: 0 auto;
  text-align: justify;
}



.card {
  width: 100%;
  margin-bottom: 1.5em;

  & .mdl-card__title{
    justify-content: center
  }
  & img {
    width: 35%
  }

  & .mdl-card__supporting-text{
    padding: 0px 16px 16px 16px;

    & p{
      margin: 8px 0 7px;
      text-transform: uppercase;
        font-weight: bolder;

      // & :first-child{
      //   text-transform: uppercase;
      //   font-weight: bolder;
      // }
      // & :last-child{
      //   float: right
      // }
      
    }
  }

  & .mdl-card__actions{
    display: flex;
    align-items: center;
  }

}

.demo-card-event > .mdl-card__actions {
  display: flex;
  box-sizing:border-box;
  align-items: center;
}

.mdl-card {

  & .img-container{
    margin: 0px;
    text-align: center
    //width: 30%
  }
  & span {
    //margin-right: 8px;
  }
  & img{
    max-height: 160px
  }
  & h2{
    font-weight: inherit;
  }

  & .mdl-chip{
    margin-right: 8px;
  }

  & p{
    margin: 7px 0 16px;
  }


}

.mdl-card{
  min-height: auto
}
