
 html, body {
  font-family: sans-serif;
  font-size: 18px !important;
 }
 
  @keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }

  .logo_container {
    display: flex;
    position: absolute;
    height: 100%;
    width: 100%;

  }

  .logo {
    margin: 0 auto;
    align-self: center;
    animation: App-logo-spin infinite 1s ease-out;
    width: 5%
  }







.mdl-navigation {
  //display: none;
  & a {
    text-align: center
  }
  & a:hover{
    background-color: rgba(0, 0, 0, 0.23)
  }

  & .active{
    font-weight: bold;
    text-transform: uppercase;
  }

  & .mdl-navigation__link.active{
    font-weight: bold;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.09)
  }

  & .mdl-layout__tab.active:after{
    content: "";
    width: 80%;
    height: 2px;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgb(255,64,129);
    left: 10%;
  }
  
}





// .portfolio_body_container{
//   text-align: center;
//   margin: 4em 0 1em 0;
  
// }

// .portfolio_body{
//   background-image: url(./images/arq4.png);
//   height: -webkit-fill-available;
// }

// @media screen and (min-width:900px) {

//   // #logoContainer{
//   //   display: block;
//   // }

//   // .mdl-navigation {
//   //   display: flex
//   //}

//   .page-content{
//     max-width: 1024px;
//   }
// }

// .page-content{
//   width: 90%;
//   margin: 0 auto;
//   text-align: justify;
// }



.card {
  width: 100%;
  margin-bottom: 1.5em;

  & .mdl-card__title{
    justify-content: center
  }
  & img {
    width: 35%
  }

  & .mdl-card__supporting-text{
    padding: 0px 16px 16px 16px;

    & p{
      margin: 8px 0 7px;
      text-transform: uppercase;
        font-weight: bolder;

      // & :first-child{
      //   text-transform: uppercase;
      //   font-weight: bolder;
      // }
      // & :last-child{
      //   float: right
      // }
      
    }
  }

  & .mdl-card__actions{
    display: flex;
    align-items: center;
  }

}

.demo-card-event > .mdl-card__actions {
  display: flex;
  box-sizing:border-box;
  align-items: center;
}


.mdl-card{
  min-height: auto
}

.mdl-layout__header .mdl-layout__drawer-button{
  //background-color: rgba(62, 116, 148, 0.6784313725490196);
}
