.logo-container {
    background-size: 100%;
    padding-top: 25px;
    @media (min-width: 1025px) {

    }
    & a {
        margin: 0 10px 0 10px;
        & div[id] {
            cursor: pointer;
            &:hover {
                -webkit-transform: scale(1.25);
                -moz-transform: scale(1.25);
                -ms-transform: scale(1.25);
                -o-transform: scale(1.25);
                transform: scale(1.25);
            }
        }
    }
    &__profile {
        position: relative;
        width: 100px;
        margin: 0 auto;
    }
    & .portfolio_logo {
        background: url(./../../../images/me.jpg) 50% no-repeat;
        background-size: cover;
        height: 100px;
        width: 100px;
        margin: auto auto 10px;
        border-radius: 30%;
        box-shadow: 0px 1px 10px 0px black;

        &:hover{
            box-shadow:  0px 1px 10px 1px black;
        }
    }
    & .portfol¡o_social_container {
        display: flex;
        & div:first-child {
            z-index: 2;
        }
    }
}

@mixin logo($image) {
    background: url($image) 50% no-repeat;
    background-size: cover;
    height: 30px;
    width: 30px;
    margin: auto auto 10px;
}

.portfolio_logo_twitter {
    @include logo('./../../../images/twitter.png')
}

.portfolio_logo_github {
    @include logo('./../../../images/gh.png')
}

.portfolio_logo_linkedin {
    @include logo('./../../../images/in.png')
}

.is-compact .logo-container__profile {
    display: none;
}

.is-compact .portfol¡o_social_container {
    margin-top: -17px;
}